body {
  background-color: #000;
  color: #FFF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.biog {
  margin: 10vw;
}

.biog_text {
  margin-top: 5%;
  margin-bottom: auto;
}

.biog img {
  width: 70%;
}
/* Who would actually look at the CSS? Really?? */