<div class="navbar">
  <button onclick="location.href = '#/';" type="button" class="btn3d btn btn-white btn-lg navbar-left"><i class="fa fa-arrow-left"></i> Home</button>
  <button onclick="location.href = '#/about';" type="button" class="btn3d btn btn-white btn-lg navbar-right">About <i class="fa fa-arrow-right"></i></button>
</div>
<div class="head-text text-center">
  <h2>Reach out!</h2>
  <br>
  <button onclick="location.href = 'https://www.linkedin.com/in/skylerkidd';" type="button" class="btn btn-primary btn-lg btn3d contactbutton"><i class="fa fa-linkedin"> LinkedIn</i></button>
  <button onclick="location.href = 'http://twitter.com/skylerkidd';" type="button" class="btn btn-info btn-lg btn3d contactbutton"><i class="fa fa-twitter"> Twitter</i></button>
  <br>
  <button onclick="location.href = 'mailto:f.s.kidd@gmail.com';" type="button" class="btn btn-default btn-lg btn3d contactbutton"><i class="fa fa-envelope"> Email</i></button>
  <button onclick="location.href = 'http://facebook.com/skyler.kidd.1';" type="button" class="btn btn-primary btn-lg btn3d contactbutton"><i class="fa fa-facebook"> Facebook</i></button>
  <br>
  <button onclick="location.href = 'https://github.com/SkylerKidd';" type="button" class="btn btn-dark btn-lg btn3d contactbutton"><i class="fa fa-github"> GitHub</i></button>
  <button onclick="location.href = 'https://github.com/SkylerKidd/skylerkidd.github.io';" type="button" class="btn btn-default btn-lg btn3d contactbutton"><i class="fa fa-github-alt"> Page Source</i></button>
</div>
