<div class="navbar">
  <button onclick="location.href = '#/about';" type="button" class="btn3d btn btn-white btn-lg navbar-left">About</button>
  <button onclick="location.href = '#/contact';" type="button" class="btn3d btn btn-white btn-lg navbar-right">Contact</button>
</div>
<div class="head-text text-center">
  <h1> {{titleread}}<span class="blinking-cursor">|</span></h1></br>
  <button type="button" class="btn3d btn btn-white btn-lg">Enter</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn3d btn btn-white btn-lg">Delete</button>
  <br><br><br>
  <button type="button" class="btn3d btn btn-white btn-lg">Q</button>
  <button type="button" class="btn3d btn btn-white btn-lg">W</button>
  <button type="button" class="btn3d btn btn-white btn-lg">E</button>
  <button type="button" class="btn3d btn btn-white btn-lg">R</button>
  <button type="button" class="btn3d btn btn-white btn-lg">T</button>
  <button type="button" class="btn3d btn btn-white btn-lg">Y</button>
  <button type="button" class="btn3d btn btn-white btn-lg">U</button>
  <button type="button" class="btn3d btn btn-white btn-lg">I</button>
  <button type="button" class="btn3d btn btn-white btn-lg">O</button>
  <button type="button" class="btn3d btn btn-white btn-lg">P</button>
  <br>
  <button type="button" class="btn3d btn btn-white btn-lg">A</button>
  <button type="button" class="btn3d btn btn-white btn-lg">S</button>
  <button type="button" class="btn3d btn btn-white btn-lg">D</button>
  <button type="button" class="btn3d btn btn-white btn-lg">F</button>
  <button type="button" class="btn3d btn btn-white btn-lg">G</button>
  <button type="button" class="btn3d btn btn-white btn-lg">H</button>
  <button type="button" class="btn3d btn btn-white btn-lg">J</button>
  <button type="button" class="btn3d btn btn-white btn-lg">K</button>
  <button type="button" class="btn3d btn btn-white btn-lg">L</button>
  <br>
  <button type="button" class="btn3d btn btn-white btn-lg">Z</button>
  <button type="button" class="btn3d btn btn-white btn-lg">X</button>
  <button type="button" class="btn3d btn btn-white btn-lg">C</button>
  <button type="button" class="btn3d btn btn-white btn-lg">V</button>
  <button type="button" class="btn3d btn btn-white btn-lg">B</button>
  <button type="button" class="btn3d btn btn-white btn-lg">N</button>
  <button type="button" class="btn3d btn btn-white btn-lg">M</button>
  <br> <!-- Why set the width of the button when you can spam $nbsp;? =D -->
  <button type="button" class="btn3d btn btn-white btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
</div>
